{% extends 'edop/basic.html' %}

{% block title%} Prewitt{% endblock %}
{% block css %} 
.container
{
    padding-top: 50px;
    padding-left:100px;
    padding-right: 100px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
 
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .center {
    display: block;
    margin-left: 50%;
    margin-right:50%;
    width: 200%;
    height:100%;
  }
{% endblock %}
{% block body %}
{% load static %} 

<div class ="container">
    <p align="center">
       <b><strong> Prewitt Operator</b></strong><br>
    </p>
    <p>
         
        Prewitt operator is used for edge detection in an image. It detects two types of edges
      <br>
      Horizontal edges<br>
      Vertical Edges
      <br>
      <br>
     Edges are calculated by using difference between corresponding pixel intensities of an image. All the masks that are used for edge detection are also known as derivative masks. Because as we have stated many times before in this series of tutorials that image is also a signal so changes in a signal can only be calculated using differentiation. So that’s why these operators are also called as derivative operators or derivative masks.

      <br>All the derivative masks should have the following properties:

     Opposite sign should be present in the mask.
     Sum of mask should be equal to zero.
     More weight means more edge detection.
     Prewitt operator provides us two masks one for detecting edges in horizontal direction and another for detecting edges in an vertical direction.
     <br><br>
     
      Vertical direction
      <br><br>

      <table class="table table-dark">
       
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>-1</td>
            <td>-1</td>
            <td>-1</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
	   <br>
     <br>
     Above mask will find the edges in vertical direction and it is because the zeros column in the vertical direction.<br> When you will convolve this mask on an image, it will give you the vertical edges in an image.
    <br>
    <br>
    <b><strong>How it works</b></strong><br>
    <br>

When we apply this mask on the image it prominent vertical edges. It simply works like as first order derivate and calculates the difference of pixel intensities in a edge region. As the center column is of zero so it does not include the original values of an image but rather it calculates the difference of right and left pixel values around that edge. This increase the edge intensity and it become enhanced comparatively to the original image.
<br><br>
  <b><strong>Horizontal Direction</b></strong><br><br>

  <br>
  <br>


  <table class="table table-dark">
       
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>-1</td>
        <td>0</td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>-1</td>
        <td>0</td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>-1</td>
        <td>0</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>

<br>
<br>
  Above mask will find edges in horizontal direction and it is because that zeros column is in horizontal direction. When you will convolve this mask onto an image it would prominent horizontal edges in the image.
<br><br>
   <b><strong>How it works</b></strong><br><br>
This mask will prominent the horizontal edges in an image. It also works on the principle of above mask and calculates difference among the pixel intensities of a particular edge. As the center row of mask is consist of zeros so it does not include the original values of edge in the image but rather it calculate the difference of above and below pixel intensities of the particular edge. Thus increasing the sudden change of intensities and making the edge more visible. Both the above masks follow the principle of derivate mask. Both masks have opposite sign in them and both masks sum equals to zero. The third condition will not be applicable in this operator as both the above masks are standardize and we can’t change the value in them.

Now it’s time to see these masks in action:

<br><br>

<b><strong>Sample Image</b></strong><br><br>
Following is a sample picture on which we will apply above two masks one at time.
<br><br>

 <div class="row">
        <div class="column">
            <img src="{% static 'edop/prewitt1.jpeg'%}" alt="My image" class="center">
        </div>
    </div>
<br><br>

<b><strong>After applying Vertical Mask</b></strong><br><br>
After applying vertical mask on the above sample image, following image will be obtained. This image contains vertical edges. You can judge it more correctly by comparing with horizontal edges picture.
<br><br>

 <div class="row">
        <div class="column">
            <img src="{% static 'edop/prewitt2.jpeg'%}" alt="My image" class="center">
        </div>
    </div>
<br><br>
<br></strong>After applying Horizontal Mask</b></strong><br><br>
After applying horizontal mask on the above sample image, following image will be obtained.
<br><br>
 <div class="row">
        <div class="column">
            <img src="{% static 'edop/prewitt3.jpeg'%}" alt="My image" class="center">
        </div>
    </div>
<br><br>

<b><strong>Comparison</strong></b><br><br>
As you can see that in the first picture on which we apply vertical mask, all the vertical edges are more visible than the original image. Similarly in the second picture we have applied the horizontal mask and in result all the horizontal edges are visible. So in this way you can see that we can detect both horizontal and vertical edges from an image.

</p>
<p><b><strong> Upload your image to check filter</b></strong><br>
  <form action="" method=POST enctype="multipart/form-data"> {% csrf_token %}
      <input type="file" id="myFile" name="filename">
      <br>
      <input type="submit">
    </form>

<img src = "{%static 'images/hello.jpeg'%}" height = 500px>
</div>
{% endblock %}