{% extends 'edop/basic.html' %}

{% block title%} Sobel{% endblock %}
{% block css %} 
.container
{
    padding-top: 50px;
    padding-left:100px;
    padding-right: 100px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
 
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  .center {
    display: block;
    margin-left: 50%;
    margin-right:50%;
    width: 200%;
    height:100%;
  }
{% endblock %}
{% block body %}
{% load static %}
<div class="container">
    <p align ="center"<b><strong>Introduction</b></strong><br><br></p>


    <p>Edge Detection is when we use matrix math to calculate areas of different intensities of an image. Areas where there are extreme differences in the intensities of the pixel usually indicate an edge of an object. After finding all of the large differences in intensities in a picture, we have discovered all of the edges in the picture. Sobel Edge detection is a widely used algorithm of edge detection in image processing. Along with Canny and Prewitt, Sobel is one of the most popular edge detection algorithms used in today's technology.
    </p>


    <p>
           
        <b><strong>The Math Behind the Algorithm</b></strong>

        When using Sobel Edge Detection, the image is processed in the X and Y directions separately first, and then combined together to form a new image which represents the sum of the X and Y edges of the image. However, these images can be processed separately as well. This will be covered later in this document.
        
        When using a Sobel Edge Detector, it is first best to convert the image from an RGB scale to a Grayscale image. Then from there, we will use what is called kernel convolution. A kernel is a 3 x 3 matrix consisting of differently (or symmetrically) weighted indexes. This will represent the filter that we will be implementing for an edge detection.
        
        When we want to scan across the X direction of an image for example, we will want to use the following X Direction Kernel to scan for large changes in the gradient. Similarly, when we want to scan across the Y direction of an image, we could also use the following Y Direction Kernel to scan for large gradients as well.
        
        <div class="row">
            <div class="column">
                <img src="{% static 'edop/sobel.jpg'%}" alt="My image" class="center">
            </div>
        </div>
        
        By using Kernel Convolution, we can see in the example image below there is an edge between the column of 100 and 200 values.
        
         <div class="row">
        <div class="column">
            <img src="{% static 'edop/sobel2.png'%}" alt="My image" class="center">
        </div>
    </div>
        
        This Kernel Convolution is an example of an X Direction Kernel usage. If an image were scanning from left to write, we can see that if the filter was set at (2,2) in the image above, it would have a value of 400 and therefore would have a fairly prominent edge at that point. If a user wanted to exaggerate the edge, then the user would need to change the filter values of -2 and 2 to higher magnitude. Perhaps -5 and 5. This would make the gradient of the edge larger and therefore, more noticeable.
        
        Once the image is processed in the X direction, we can then process the image in the Y direction. Magnitudes of both the X and Y kernels will then be added together to produce a final image showing all edges in the image. This will be discussed in the next section.

    </p>  
    
    <p>
       <b><strong> Edge Detection Example</b></strong></br>


        Now that we have gone through the mathematics of the edge detection algorithm, it is now time to put it to use on a real image.

        Below is the original image that was used in this project: 

        <div class="row">
        <div class="column">
            <img src="{% static 'edop/sobel3.png'%}" alt="My image" class="center">
        </div>
    </div>

    </p>


    <p>
        <b><strong>Common Issues with Sobel Edge Detection</b></strong><br>


A common issue with Sobel Edge Detection is the fact that there tends to be a lot of noise in the final processed image. As you can see in the image above, there are a lot of white spots or 'snowflakes' that are not meant to be there. A common method on how to reduce the noise in the image is to use an averaging filter to smoothen the image, and then apply the Sobel Edge Detection Algorithm again and compare the differences

<div class="row">
    <div class="column">
        <img src="{% static 'edop/sobel4.png'%}" alt="My image" class="center">
    </div>
</div>
<br>


This filter is applied in the same manner as the Sobel Edge Detection matrices.<br><br>

Below is the grayscale smoothened picture. Not many differences can be noticed at first when compared with the original. However, when applying the Sobel Edge Detection Algorithm, it will make a large difference in the final processed image.
<br>
<div class="row">
    <div class="column">
        <img src="{% static 'edop/sobel5.png'%}" alt="My image" class="center">
    </div>
</div>
<br>

When finally running the Sobel Edge Detection on the averaged filter, the results below show a large difference in the quality of the processed images.

<br>
<div class="row">
    <div class="column">
        <img src="{% static 'edop/sobel6.png'%}" alt="My image" class="center">
    </div>
</div>
<br>

We can see that this works because when we zoom in on different parts of the image (particularly the cushion of the chair) we can see that the noise of the image has been reduced significantly. Below is a zoom in of the cushion. When we average out of the components, we reduce the noise because we eliminate the high frequency components in an image.

<br>
<div class="row">
    <div class="column">
        <img src="{% static 'edop/sobel7.png'%}" alt="My image" class="center">
    </div>
</div>
<br>


    </p>


    <p><b><strong> Upload your image to check filter</b></strong><br>
        <form action="" method=POST enctype="multipart/form-data"> {% csrf_token %}
            <input type="file" id="myFile" name="filename">
            <br>
            <input type="submit">
          </form>

    <img src = "{%static 'images/hello.jpeg'%}" height = 500px>
</div>

{% endblock %}

